<p id="notice"><%= notice %></p>

<h1>Movies</h1>
<%= form_tag({controller: "movies", action: "index"}, method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:title, @title) %>
    <%= label_tag(:year, "Year:")%>
    <%= text_field_tag(:year, @year) %>
    <%= label_tag(:type, "Type:")%>
    <%= select_tag(:type, options_for_select(['movie','series','episode'], @type),include_blank: true ) %>
    <%= submit_tag("Search") %>
    <span> <%= @movies.size %></span>
<% end %>
<% if @movies.blank? %>
<h2>No Results</h2>
<% else%>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Like</th>
      <th>Title</th>
      <th>Year</th>
      <th>Imdb</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each_with_index do |movie,i| %>
      <tr>
        <td><%= i+1 %> </td>
        <td><%= check_box_tag 'favorite', 'yes', Favorate.where(imdb_id: movie.imdb_id ).exists?, :onclick => "update_favorate('#{movie.imdb_id}');" %></td>
        <td><%= link_to( movie.title, movie_path(movie.imdb_id) ) %></td>
        <td><%= movie.year %></td>
        <td><%= movie.imdb_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

